{%block body%}
<!DOCTYPE HTML>

<html>
	<head>
		<title>WAT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!-- start Mixpanel --><script type="text/javascript">(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
mixpanel.init("16238fc384e8fa5031eb1064bc4552ef");</script><!-- end Mixpanel -->
	</head>
	<body>

	<!-- <script>
		mixpanel.track("appLink");

	<script>
		//mixpanel.track("appLink");

		mixpanel.track_links("#intro","Intro selected");
		mixpanel.track_links("#one","firs link");
		mixpanel.track_links("#two","second link");
		mixpanel.track_links("#three","third link");

		mixpanel.track_links("appLink","link to app");
	</script> -->
	</script>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Who We Are</a></li>
							<li><a href="#two">What We Do</a></li>
							<li><a href="#three">Get In Touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<!--images/invertedWATlogo.png-->
							<img src="images/invertedWATlogo.png" weight="200" height="200">
							<p>Quick and easy shoes scanning application WAT<br />
							and released for free under the Creative Commons.
						</p>
						<h3>Try our <b>APP:</b><a href="https://apps.apple.com/app/id1491831719?fbclid=IwAR1mYJ1QmxVG5Cc1tFhO7DQKTXyQmrNePAF9ICQ6nGdCuFOv-PgijaE8710" name="appLink"style="color:blue;">IPhone download</a></h3>
							<ul class="actions">
								<!--<li><a href="#one" class="button scrolly" style="color: white;">Learn more</a></li>-->
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/Image1.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>QUICK</h2>
									<p>To begin, you have to first open our mobile application and get your target shoe in focus on our camera.</p>
									<ul class="actions">
										<!--<li><a href="#" class="button">Learn more</a></li>-->
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/Image2.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>USABLE</h2>
									<p>Next, you have to take a clear picture of the shoe and wait for our servers to return the shoe you are looking for.</p>
									<ul class="actions">
										<!--<li><a href="#" class="button">Learn more</a></li>-->
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/image3.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>SIMPLE</h2>
									<p>Finally, after a few moments, you will be presented with the name of the shoe that was selected for scanning!</p>
									<ul class="actions">
										<!--<li><a href="#" class="button">Learn more</a></li>-->
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>MEET WAT</h2>
							<p>Starting out as young, hungry Computer Science majors, we generated this idea at the University of Maryland - College Park. The idea came to us at a Augmented Reality Hackathon, and we have worked day in and day out to produce the best shoe scanning application on the market for our consumers!</p>
							<div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3>OUR VISION</h3>
									<p>Ever been in a situation where you see some nice shoes and just have to know the name of them? Our vision includes allowing anyone to scan any shoe around them and to get instead results. This easy-to-use mobile application is essentially the sneaker-heads dream come true, and a pedestrians way of getting into the shoe game. </p>
								</section>
								<section>
									<span class="icon major fa-lock"></span>
									<h3>OUR TECHNOLOGY</h3>
									<p>By using augmented reality appliances such as Vuforia, mixed with highly reputable Computer Vision technology, we present to you: What Are Those!</p>
								</section>
							</div>
							<ul class="actions">
								<!--<li><a href="#" class="button">Learn more</a></li>-->
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<div class="split style1">
								<section>
									<form method="post" action="https://wat-homepage.herokuapp.com/">
										<div class="field half first">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="5"></textarea>
										</div>
										<ul class="actions">
											<!-- <li><a href="mailto:watshoes@gmail.com" class="button submit">Send Message</a></li> -->
											<input type="submit">
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<!-- <h3>Address</h3>
											<span>12345 Somewhere Road #654<br />
											Nashville, TN 00000-0000<br />
											USA</span> -->
										</li>
										<li>
											<h3>Email</h3>
											<a href="mailto:watshoes@gmail.com">watshoes@gmail.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(443) 467-3687</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://www.facebook.com/WhatAreThoseApp/" class="fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="https://www.instagram.com/whatarethoseapp/" class="fa-instagram"><span class="label">Instagram</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

					<!--Four -->
					<!-- <section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Beta Testers!</h2>
							<p>We are looking for people to test out our application if you are interested<br>
							please sign up!</p>
							<div class="split style1">
								<section>
									<form method="post" action="https://wat-homepage.herokuapp.com/">
										<div class="field half first">
											<label for="email1">Email</label>
											<input type="email" name="email1" id="email1" />
										</div>
										<div class="field half">
 										 <label for="name1">Name</label>
 										 <input type="text" name="name1" id="name1" />
 									 </div>
									 <div class="field">
 										<label for="gender">Gender</label>
 										<input type="text" name="gender" id="gender" />
 									</div>
									<div class="field">
										<label for="FavoriteShoe">Favorite Brand</label>
										<input type="text" name="FavoriteShoe" id="FavoriteShoe" />
									</div>
									 <button type="submit" class="button submit">Submit</button>
			 				 	</form>
								</section>
							</div>
						</div>
					</section>
					<!-- Finished -- >
			</div> -->

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						<li>&copy;<a href="https://docs.google.com/document/d/19tdWMGicPrhhEX3kph6Kj3Jw3mEdfEZICIzrAsbUgN4/edit?fbclid=IwAR2DrOL2q4F9mzfALNYJgWlhTmg6AZ0W2BrrW9EXv2PQuakIa9PS7Sk8mcs">Privacy and Terms.</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>
{%endblock%}
